services:
  asterisk:
    build: ./server/asterisk
    container_name: ${PROJECT_NAME}-asterisk
    ports:
      - "${ASTERISK_SIP_PORT}:5060/udp"
      - "${ASTERISK_RTP_PORTS}:${ASTERISK_RTP_PORTS}/udp"
    volumes:
      - ./server/asterisk/configs:/etc/asterisk
      - asterisk_data:/var/lib/asterisk
    env_file:
      - ./server/asterisk/.env
    networks:
      - pbx-network
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: ${PROJECT_NAME}-postgres
    ports: 
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_ADDRESS=${DB_HOST}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PORT=${DB_PORT}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    env_file:
      - ./database/.env
    networks:
      - pbx-network
    restart: unless-stopped

  db_migration:
    build: 
      context: .
      dockerfile: ./server/db_migration_service/Dockerfile
    container_name: ${PROJECT_NAME}-mirgration_db
    env_file:
      - ./.env
    volumes:
      - ./server/db_migration_service/src:/app/src
      - ./server/db_migration_service/run_migrations.py:/app/run_migrations.py
      - ./server/db_migration_service/migrations:/app/migrations
    stdin_open: true
    tty: true      
    command: ["/bin/sh"]
    depends_on:
      - db
    networks:
      - pbx-network

  db_schema:
    image: schemaspy/schemaspy:latest
    ports: 
      - "${DB_SCHEMA_PORT}:8080"
    command: [
      "-t", "${DB_TYPE}",
      "-host", "${DB_HOST}", 
      "-port", "${DB_PORT}",
      "-db", "${DB_NAME}",
      "-u", "${DB_USER}",
      "-p", "${DB_PASSWORD}"
    ]
    volumes:
      - ./db_schema:/output
    depends_on:
      - db
    networks:
      - pbx-network

volumes:
  asterisk_data:
  postgres_data:
  db_migration_data:

networks:
  pbx-network:
    driver: bridge